.animeCard {
    position: relative;
    height: 100%;
}

.animeCard img {
    height: 100%;
}

.dark-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.animeCard p {
    position: absolute;
    margin-bottom: 0;
    display: none;
    transition: all 0.5s ease;
}

.animeCard:hover p {
    display: block;
}

.animeCard:hover p.anime-title {
    display: -webkit-box;
}

.animeCard p.anime-title {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.animeCard p.anime-title {
    padding: 5px 10px;

    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.animeCard p.anime-episode {
    padding: 5px 10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.animeCard p.anime-rilis {
    padding: 5px 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

@media screen and (max-width: 768px) {
    .animeCard p {
        font-size: 12px;
        padding: 2px 7px;
    }
}
